APP_ENV=dev
LOG_LEVEL=info

POSTGRES_USER=user
POSTGRES_PASSWORD=changeMe!
POSTGRES_DB=order_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RABBITMQ_URL=amqp://guest:changeMe!@rmq.example.com/messages

OPENCAGE_API_KEY=changeMe!

STRIPE_SECRET_KEY=changeMe!
STRIPE_WEBHOOK_SECRET=changeMe!
