APP_ENV=dev
LOG_LEVEL=info

POSTGRES_USER=user
POSTGRES_PASSWORD=changeMe!
POSTGRES_DB=payment_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RABBITMQ_URL=amqp://guest:changeMe!@rmq.example.com/messages

MOLLIE_API_KEY=changeMe!
PUBLIC_BASE_URL=http://localhost:8080
