APP_ENV=dev
LOG_LEVEL=info

POSTGRES_USER=user
POSTGRES_PASSWORD=changeMe!
POSTGRES_DB=customer_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RABBITMQ_URL=amqp://guest:changeMe!@rmq.example.com/messages
